@import "../util/mixin.styl"

.picker
  display: none
  position: fixed
  top: 0
  z-index: 100
  width: 100%
  height: 100%
  overflow: hidden
  text-align: center
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'
  font-size: 14px
  unselectable()
  .picker-mask
    position: absolute
    z-index: 500
    width: 100%
    height: 100%
    transition: all 0.5s
    -webkit-transition: all 0.5s
    background: rgba(0, 0, 0, 0)
    opacity: 0
    &.show
      background: rgba(0, 0, 0, 0.6)
      opacity: 1
  .picker-panel
    position: absolute
    z-index: 600
    bottom: 0
    width: 100%
    height: 6.75rem
    background: #fff
    transform: translateY(6.75rem)
    -webkit-transform: translateY(6.75rem)
    transition: all 0.5s
    -webkit-transition: all 0.5s
    &.show
      transform: translateY(0)
      -webkit-transform: translateY(0)
    .picker-choose
      position: relative
      height: 1.25rem
      color: #333
      .picker-title
        line-height: 1.25rem
        font-size: 14px
        text-align: center
        color: #333
      .confirm, .cancel
        position: absolute
        line-height: 1.25rem
      .confirm
        padding-right: .4rem
        right: 0
        color: #18adfb
        font-size: 18px
      .cancel
        padding-left: .4rem
        left: 0
        color: #18adfb
        font-size: 18px
    .picker-content
      position: relative
      .mask-top, .mask-bottom
        position: absolute
        z-index: 10
        width: 100%
        height: 1.7rem
        pointer-events: none
        transform: translateZ(0)
        -webkit-transform: translateZ(0)
      .mask-top
        top: 0
        background: -webkit-gradient(linear, left bottom, left top, from(hsla(0, 0%, 100%, .4)), to(hsla(0, 0%, 100%, .8)))
        background: -o-linear-gradient(bottom, hsla(0, 0%, 100%, .4), hsla(0, 0%, 100%, .8))
      .mask-top:after, .mask-top:before {
        display: block
        position: absolute
        border-top: 1px solid #ccc
        left: 0
        width: 100%
        content: " "
      }
      .mask-bottom
        bottom: 0
        background: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, .4)), to(hsla(0, 0%, 100%, .8)))
        background: -o-linear-gradient(top, hsla(0, 0%, 100%, .4), hsla(0, 0%, 100%, .8))
      .mask-bottom:after, .mask-bottom:before {
        display: block
        position: absolute
        border-top: 1px solid #ccc
        left: 0
        width: 100%
        content: " "
      }
    .wheel-wrapper
      display: -ms-flexbox
      display: -webkit-box
      display: flex
      padding: 0 .25rem
      .wheel
        -ms-flex: 1 1 1 e-9px
        -webkit-box-flex: 1
        flex: 1
        flex-basis: 1 e-9px
        width: 1%
        height: 4.325rem
        overflow: hidden
        font-size: 24px
        .wheel-scroll
          margin-top: 1.7rem
          line-height: 1rem
          .wheel-item
            height: 1rem
            overflow: hidden
            white-space: nowrap
            color: #333
  .picker-footer
    height: 1rem
    line-height: 1rem

[data-dpr="2"] .picker {
  font-size: 26px
}

[data-dpr="2"] .picker .picker-panel .picker-choose .cancel {
  font-size: 36px
}

[data-dpr="2"] .picker .picker-panel .picker-choose .confirm {
  font-size: 36px
}

[data-dpr="2"] .picker .picker-panel .picker-choose .picker-title {
  font-size: 30px
}

[data-dpr="2"] .picker .picker-panel .picker-content .wheel-wrapper .wheel {
  font-size: 46px
}

[data-dpr="3"] .picker {
  font-size: 42px
}

[data-dpr="3"] .picker .picker-panel .picker-choose .cancel {
  font-size: 62px
}

[data-dpr="3"] .picker .picker-panel .picker-choose .confirm {
  font-size: 62px
}

[data-dpr="3"] .picker .picker-panel .picker-choose .picker-title {
  font-size: 58px
}

[data-dpr="3"] .picker .picker-panel .picker-content .wheel-wrapper .wheel {
  font-size: 84px
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5)
  .border-1px
    &::after, &::before
      -webkit-transform: scaleY(.7)
      -webkit-transform-origin: 0 0
      transform: scaleY(.7)
    &::after
      -webkit-transform-origin: left bottom

@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2)
  .border-1px
    &::after, &::before
      -webkit-transform: scaleY(.5)
      transform: scaleY(.5)

